DATABASE_URL=mysql://root:43624362@localhost:3306/u3079686_dev
JWT_SECRET=default-secret-key-please-change-me
PORT=3000
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="kserxd655@gmail.com"
SMTP_PASS="qwyd vdna qtfh gxfi"
SMTP_FROM="noreply@sigmaltd.com"